html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Calibril, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Document */
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
body{
	background: url(images/bg.jpg) repeat;
}
#header{
	margin-top:40px;
	height: 200px;
}
#containerLogo{
	background: url(images/logo.png) no-repeat;
	padding-top: 52px;
	margin-left:75px;
}
#logoText{
	padding-top: 2px;
	padding-left: 110px;
	display:block;
	color: #454545;
}
#slogan{
	padding-top: 2px;
	padding-left: 110px;
	font-size: 14 px;
	font: Calibri,"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display:block;
	color: #454545;
	}
#containerLogin{
	background: url(images/user.png) no-repeat;
	margin-right:75px;
}
#containerLogin a{
	text-decoration:none;
	font-size: 14px;
	color:#454545;
}
/*Intro*/
#searchInfo{
	width:600px;
	margin:0 auto;
	padding-bottom: 60px;
}
#buttonSearch
{
	margin-bottom: 20px;
}
#searchInfo a
{
	float: left;
}
#link1
{
	background:url(images/button1.png) no-repeat;
	 display: block;
    height: 37px;
    width: 125px;
}
a#link1:hover, a#link2:hover, a#link3:hover, a#link4:hover, a#link5:hover
{
	background-position: 0 -41px;
}

#link2
{
	background:url(images/button2.png) no-repeat ;
	display: block;
    height: 37px;
    width: 103px;
}
#link3
{
	background:url(images/button3.png) no-repeat ;
	display: block;
    height: 37px;
    width: 136px;
}
#link4
{
	background:url(images/button4.png) no-repeat ;
	display: block;
    height: 37px;
    width: 102px;
}
#link5
{
	background:url(images/button5.png) no-repeat ;
	display: block;
    height: 37px;
    width: 126px;
}
#selectSearch
{
	position: relative;
}
select.select {
    color: #B3B3B3;
    cursor: pointer;
    font-size: 12px;
    height: 36px !important;
    line-height: 36px;
    margin-right: 11px;
    position: relative;
    float: left;
    width: 164px !important;
    z-index: 10;
    float: left;
}

span.select {
    background: url("images/bg_select.png") no-repeat 0 0;
    color: #717171;
    cursor: default;
    float: left;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    position: absolute;
    text-indent: 10px;
    width: 164px;
    z-index: 1;
}
#spddlProvince
{
	left: 0px;
}
#spddlDistrict 
{
	left: 174px;
}
#txtKeyword
{
	float: left;
	background: url("images/bg_txt.png") no-repeat 0 0;
	width: 235px;
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	margin-left: 5px;
	color: #646464;
}
#content h3
{
	color: #717171;
	font-weight: 700;
	font-size: 22px;
	font-family: Calibri, Arial,Helvetica,Sans-Serif;
}
#content
{
	
}
#advanceSearch1, #advanceSearch2, #advanceSearch3
{
	width: 300px;
}
#btnAdvanceSearch
{
	background: url("images/btnSearch1.png") no-repeat 0 0;
	width: 225px;
	height: 52px;
	margin-left: 50px;
    margin-top: 35px;
    cursor: pointer;
}
#btnDangtin
{
	background: url("images/btnDangtin.png") no-repeat 0 0;
	width: 225px;
	height: 52px;
	margin-left: 50px;
    margin-top: 35px;
    cursor: pointer;
}
#advanceSearch
{
	color: #454343;
	font-size: 18px;
	width: 1000px;
	margin: 0 auto;
}
#advanceSearch h3
{
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}
#advanceSearch .detail
{
	padding-left: 55px;
}
#advanceSearch1, #advanceSearch2
{
	margin-right: 50px;
}
#advanceSearch1 .detail
{
	background: url("images/icon1.png") no-repeat 0 10px;
}
#advanceSearch2 .detail
{
	background: url("images/icon2.png") no-repeat 0 10px;
}
#advanceSearch3 .detail
{
	background: url("images/icon3.png") no-repeat 0 10px;
}