@model RentalHouseFinding.Models.ErrorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3>Có lỗi xảy ra trong quá trình xử lí</h3>

<br/>

<h2>@Model.ErrorTitle</h2>
 
<br />
 
@if (Model.ExceptionDetail != null)
{
      @Model.ExceptionDetail.Message
}