body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

b {
    font-weight: 700;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    margin-top: 8px;
}

.validation-summary-valid
{
    display: none;
}

/* CSS Document */
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.separator {
    background-color: #d9d9d9;
    height: 28px;
    width: 1px;
    display: block;
    margin-top: 2px;
}

/* INTRO PAGE */

body{
	background: url(../../Content/images/bg.jpg) repeat;
}
#footer {
    text-align: center;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 17px;
    color: #454545;
    padding: 30px 0 20px 0;
}
#header{
	margin: 10px auto 0px;
    max-width: 1054px;
	height: 120px;
	font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 14px;
}
#containerLogo{
	background: url(../../Content/images/logo.png) no-repeat;
	padding-top: 56px;
}
#logoText, #slogan{
	padding-left: 110px;
	display:block;
	color: #454545;
	font-weight:normal;
}
#containerLogin{
	background: url(../../Content/images/user.png) no-repeat;
    margin: 15px 0 0 0px;
    padding: 0 0 0 25px;
    background-position: 5px 0;
}
#containerLogin a{
	text-decoration:none;
	font-size: 14px;
	color:#017171;
}
/*Intro*/
#searchInfo{
	width:650px;
	margin:0 auto;
	padding-bottom: 6px;
}
#buttonSearch
{
	margin-bottom: 20px;
	position:relative;
	margin-left: 5px;
}
#searchInfo #buttonSearch select.select
{
    margin-right: 16px;
}
#searchInfo #buttonSearch #CategoryId, #home-search-area #options #CategoryId
{
    width: 199px;
}
#searchInfo #buttonSearch #ProvinceId, #home-search-area #options #ProvinceId
{
    width: 214px;
}
#searchInfo #buttonSearch #DistrictId, #home-search-area #options #DistrictId
{
    width: 198px;
}
#home-search-area #options #spProvinceId
{
    background: url(../../Content/images/home_province.png) no-repeat;
    left: 264px;
    width: 214px;
}
#searchInfo #buttonSearch #spProvinceId
{
    background: url(../../Content/images/home_province.png) no-repeat;
    left: 215px;
    width: 214px;
}
#searchInfo #buttonSearch #spCategoryId, #home-search-area #options #spCategoryId
{
    background: url(../../Content/images/home_type.png) no-repeat;
    width: 200px;
}
#home-search-area #options #spDistrictId
{
    background: url(../../Content/images/home_city.png) no-repeat;
    left: 488px;
    width: 200px;
}
#searchInfo #buttonSearch #spDistrictId
{
    background: url(../../Content/images/home_city.png) no-repeat;
    left: 443px;
}
#searchInfo #selectSearch #KeyWord
{
    background: url(../../Content/images/landing_search_text.png) no-repeat;
    width: 602px;
}
#searchInfo a
{
	float: left;
}
#link1
{
	background:url(../../Content/images/button1.png) no-repeat;
	 display: block;
    height: 37px;
    width: 125px;
}
a#link1:hover, a#link2:hover, a#link3:hover, a#link4:hover, a#link5:hover
{
	background-position: 0 -41px;
}

#link2
{
	background:url(../../Content/images/button2.png) no-repeat ;
	display: block;
    height: 37px;
    width: 103px;
}
#link3
{
	background:url(../../Content/images/button3.png) no-repeat ;
	display: block;
    height: 37px;
    width: 136px;
}
#link4
{
	background:url(../../Content/images/button4.png) no-repeat ;
	display: block;
    height: 37px;
    width: 102px;
}
#link5
{
	background:url(../../Content/images/button5.png) no-repeat ;
	display: block;
    height: 37px;
    width: 126px;
}
#selectSearch
{
	position: relative;
}
select.select {
    color: #B3B3B3;
    cursor: pointer;
    font-size: 12px;
    height: 36px !important;
    line-height: 36px;
    margin-right: 11px;
    position: relative;
    float: left;
    width: 164px;
    z-index: 10;
    float: left;
}
#searchInfo span#spCategoryId
{
    background: url("../../Content/images/bg_select.png") no-repeat 0 0;
}
span.select {
    background: url("../../Content/images/bg_select.png") no-repeat 0 0;
    color: #717171;
    cursor: default;
    float: left;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    position: absolute;
    text-indent: 10px;
    width: 164px;
    z-index: 1;
}
#spProvinceId
{
	left: 0px;
}
#spDistrictId 
{
	left: 174px;
}
#spCategoryId 
{
    left: 0px;
}
#KeyWord
{
	float: left;
	background: url("../../Content/images/bg_txt.png") no-repeat 0 0;
	width: 200px;
	height: 36px;
	line-height: 38px;
	text-indent: 10px;
	margin-left: 7px;
	color: #646464;
}
#content h3
{
	color: #717171;
	font-weight: 700;
	font-size: 22px;
	font-family: Calibri, Arial,Helvetica,Sans-Serif;
	margin:20px 0px 0px 10px;
}
#content
{
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    margin: 0 auto;
    max-width: 1054px
}
#advanceSearch1, #advanceSearch2, #advanceSearch3
{
	width: 300px;
}
#linkAdvanceSearch
{
	background: url("../../Content/images/btnSearch1.png") no-repeat 0 0;
	width: 184px;
	height: 47px;
	margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    display:none;
    font-size: 0px;
}
#linkDangtin
{
	background: url("../../Content/images/btnDangtin.png") no-repeat 0 0;
	width: 145px;
	height: 47px;
	margin-left: 80px;
    margin-top: 48px;
    cursor: pointer;
    display:none;
    font-size: 0px;
}
#advanceSearch
{
	color: #454343;
	font-size: 18px;
	width: 1000px;
	margin: 0 auto;
}
#advanceSearch h3
{
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}
#advanceSearch .detail
{
	padding-left: 55px;
    color: #454343;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 18px;
	text-align: justify;
}
#advanceSearch .detail b{
    font-weight: 700;
}
#advanceSearch1, #advanceSearch2
{
	margin-right: 50px;
}
#advanceSearch1 .detail
{
	background: url("../../Content/images/icon1.png") no-repeat 0 10px;
}
#advanceSearch2 .detail
{
	background: url("../../Content/images/icon2.png") no-repeat 0 10px;
}
#advanceSearch3 .detail
{
	background: url("../../Content/images/icon3.png") no-repeat 0 10px;
}

.helloText {
    color: #717171;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    max-width: 612px;
    margin: 0 auto;
}

.helloText .helloLine {
    border-bottom: 2px solid #d7e2ec;
    display: block;
    float: left;
    margin-top: 9px;
    width: 44%;
}

.helloText span {
    display: block;
    float: left;
    margin: 0 2px;
}

#searchInfo #searchTitle {
    color: #454343;
    font-size: 60px;
    font-weight: 700;
    display: block;
    float: left;
    margin: 30px 0 20px;    
}

#searchInfo #advanceSearchText {
    text-decoration: underline;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    display: block;
    float: right;
    color: #646464;
    margin: 20px 5px 0 0;
}

#selectSearch #btnSubmit, #options #btnSubmit, #options #btnKinhLup {
    background: url("../../Content/images/bg_kinhlup.png") no-repeat transparent 0 0;
    width: 38px;
    height: 38px;
    display: block;
    cursor: pointer;
}
/*END INTRO PAGE */

/* LOGIN & REGIS PAGE */
#loginPanel {
    background: url("../../Content/images/login_panel.png") no-repeat transparent 0 0;
    width: 842px;
    height: 565px;
    margin: 0px 0px 0px 100px;
}
#regisPanel {
    background: url("../../Content/images/Register_bg_panel.png") no-repeat transparent -22px 0;
    width: 880px;
    height: 832px;
}

div.textbox
{
    height: 37px;
}
.login-regis {
    display: block;
    margin: 0px auto;
}
.login-regis h1 {
    font-size: 22px;
    font-weight: 700;
    color: #464646;
    margin-bottom: 5px;
}
.login-regis h2 {
    font-size: 14px;
    font-weight: 700;
    color: #919191;
}
.login-regis h3 {
    font-size: 12px;
    font-weight: 700;
    color: #888888;
}
.login-regis .title {
    display: block;
    float: left;
    margin: 60px 0 0 90px;
}
.login-regis .socials {
    border-bottom: 2px solid #E4E4E4;
    border-top: 2px solid #E4E4E4;
    display: block;
    float: left;
    margin: 20px 0 0 85px;
    padding: 30px 0;
    width: 672px;
    text-align: center;
}
.login-regis .socials h2 {
    margin-bottom: 20px;
}
.login-regis .userInfo h2 {
    text-align: center;
    margin: 10px 0 25px;
}

.login-regis .blockInfo {
    display: block;
    float: left;
  
}

.login-regis .blockInfo label{
    /*color: #888;*/
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    /*float: left;*/
    font-weight: 700;
}
.leftTbx {
    background: url("../../Content/images/tbx_left.png") no-repeat transparent 0 0;
    width: 14px;
    height: 49px;
    display: block;
    float: left;
}
.rightTbx {
    background: url("../../Content/images/tbx_right.png") no-repeat transparent 0 0;
    width: 14px;
    height: 49px;
    display: block;
    float: left;
}
.midTbx {
    background: url("../../Content/images/tbx_pixel.png") repeat-x transparent 0 0;
    width: 1px;
    height: 49px;
    display: block;
    float: left;
}
.tbxRegister
{
    background: url("../../Content/images/tbxRegister.png") repeat-x transparent 0 0;
    height: 29px;
    display: block;
    float:left;
    padding: 10px;
    width: 303px;
}
.tbxRegisterCapcha
{
    background: url("../../Content/images/CapchaTxt.png") repeat-x transparent 0 0;
    height: 27px;
    display: block;
    float:left;
    padding: 10px;
    width: 93px;
}
#postnew_wrapper span.field-validation-error
{
    float:left;
    padding: 10px 0;
}
span.field-validation-error
{
    /*padding: 55px 0 20px 0;*/
}
span.field-validation-error
{
    float:none;
}
.login-regis .leftBlock {
    margin: 0 20px 0 85px;
}
.textbox {
    display: block;
    float: left;
}
.textbox input{
    font-size: 18px;
    color: #989898;
    font-weight: 700;
}
.login-regis .notification {
    margin: 30px 0 0 85px;
    display: block;
    float: left;
}
.login-regis #infoIcon {
    display: block;
    float: left;
}
.login-regis #message {
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    color: #969696;
    display: block;
    float: left;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    margin: 4px 0 0 10px;
    padding: 5px 5px 5px 10px;
}
.login-regis .buttons {
    display: block;
    float: right;
    margin: 19px 88px 0 0;
    font-size: 14px;
}
.checkbox, .buttons label
{
    display: block;
    float: left;
    margin: 17px 10px 0 0;
}
.login-regis .buttons span, .login-regis #cbxSaveLogin  {
    display: block;
    float: left;
    margin: 17px 10px 0 0;
}
.login-regis #btnLogin {
    background: url("../../Content/images/login_btnDangNhap.png") no-repeat transparent 0 0;
    width: 120px;
    height: 47px;
    display: block;
    float: left;
    cursor: pointer;
}
#maBaoVe1 {
    margin: 0 25px 0 15px;
}
.login-regis .lastBlock {
    margin-top: 10px;
}
#loginPanel .blockInfo span
{
    float:none;
}
#regisPanel .blockInfo span
{
    float:none;
}
.blockInfo #rAccept, .blockInfo span, .blockInfo #btnRegis {
    display: block;
    float: left;
}
#btnRegis {
    background: url("../../Content/images/regis_btnDangky.png") no-repeat transparent 0 0;
    width: 120px;
    height: 47px;
    cursor: pointer;
}
#blockBtnRegis > div {
    margin-top: 16px;
    display: block;
    float: left;
}
#blockBtnRegis > div #rAccept {
    margin-right: 5px;
}
#blockBtnRegis label {
    margin-right: 25px;
}
/* END LOGIN & REGIS PAGE */

/* INDEX PAGE */

#header #newPost {
    background: url("../../Content/images/index_newPostBtn.png") no-repeat transparent 0 0;
    width: 132px;
    height: 34px;
    display: block;
    float: left;
    margin-right: 10px;
}
#header #helloUser {
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    color: #747474;
    display: block;
    margin-bottom: 7px;
}
#header #favResult {
    background: url("../../Content/images/index_favResult.png") no-repeat transparent 0 0;
    width: 104px;
    height: 13px;
    cursor: pointer;
    display: block;
}
#loginPanel .styledCheckbox
{
    float:left;
    display: block;
}
.styledCheckbox {
    display: block;
    float: right;
}
#header #resultPanel {
    display: block;
    position: absolute;
    width: 294px;
    height: auto;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
    left: -107px;
    top: 45px;
    font-family: Calibri;
    color: #747474;
    font-size: 14px;
    z-index: 99;
}

#header #resultPanel label {
    margin-bottom: 10px;
    display: block;
}

#header #resultPanel .result {
    border-bottom: 1px solid #ECF0F3;
    display: block;
    margin: 0 0 3px 15px;
    padding-bottom: 7px;
}

#header #resultPanel .lastResult {
    border: none;
}

#options {
    position: relative;
    width: 1054px;
    margin-bottom: 15px;
}

#options #btnShowList, #options select{
    display: block;
    float: left;
    margin-right: 10px;
}
#options #btnShowList {
    width: 45px;
    height: 39px;
    float: left;
    cursor: pointer;
}
#options .btnShowListClicked {
    background: url("../../Content/images/index_btnList.png") no-repeat transparent 0 -39px;
} 
#options .btnShowListNormal {
    background: url("../../Content/images/index_btnList.png") no-repeat transparent 0 0;
}
#options #spProvinceId, #options #spDistrictId, #options #spCategoryId, #options #spddlArea {
    background: url("../../Content/images/index_ddlCity.png") no-repeat transparent 0 0;
    width: 133px;
    height: 38px;
}
#options #spddlPrice {
    background: url("../../Content/images/index_ddlPrice.png") no-repeat transparent 0 0;
    width: 147px;
    height: 38px;
}
#options #spProvinceId {
    left: 53px;
}
#options #spDistrictId {
    left: 192px;
}
#options #spCategoryId {
    left: 53px;
}
#options #spddlPrice {
    left: 470px;
}
#options #spddlArea {
    left: 625px;
}
#options .narrow {
    width: 133px !important;
}
#options .wide {
    width: 148px !important;
}
#options #txtKeyword {
    background: url("../../Content/images/index_searchBox.png") no-repeat transparent 0 0;
    width: 292px;
    height: 37px;
}
.searchLeft, .searchMid, .searchRight {
    display: block;
    float: left;
    height: 36px;
    width: 13px;
    margin-top: 1px;
}
.searchLeft {
    background: url("../../Content/images/searchLeft.png") no-repeat transparent 0 0;
}
.searchRight {
    background: url("../../Content/images/searchRight.png") no-repeat transparent 0 0;
}
.searchMid {
    background: url("../../Content/images/searchMid.png") repeat-x transparent 0 0;
    width: 1px;
}
#listInfo, #infoMap {
    background: #FFF;
    border: 1px solid #e5e5e5;
    height: 576px;
    padding: 15px 0;
}
#listInfo {
    width: 320px;
    margin-right: 10px;
    color: #717171;
    font-weight: 700;
    padding-bottom: 27px;
}
#listInfo b {
    color: #52666e;
}
#infoMap {
   /* width: 100%;*/
   width: 708px;
}
#listInfo label, #listInfo select {
    display: block;
    float: left;
}
#spddlSortBy {
    background: url("../../Content/images/index_ddlSortBy.png") repeat-x transparent 6px -4px;
    width: 95px;
    height: 20px;
    left: 278px;
    line-height: 12px;
}
#listInfo .sortBy {
    width: 95px !important;
    height: 20px !important;
    margin-left: 18px;
}
#listInfo .infoDetail 
{
    margin:5px 0 0 18px;
    display: block;
    float: left;
    padding: 5px 12px;
    width: 260px;
}
#listInfo .infoDetail div, #listInfo .infoDetail img, #listInfo .infoDetail span {
    display: block;
}
#listInfo .highlight {
    font-weight: 700;
    color: #f17612;
    display: block;
    float: left;
    font-size: 24px;
    margin-bottom:5px;
}
#listInfo .address {
    font-size: 14px;
    margin: 10px 0;
    width: 100%;
}
#listInfo .desc {
    margin-bottom: 7px;
    line-height: 18px;
    color:#717171;
}
#listInfo .text {
    margin-right: 15px;
    width: 160px;
}
#listInfo .hlText {
    display: block;
    float: left;
    margin-top: 11px;
    color:#717171;
}
#listInfo .thumbnail {
    margin: 30px 0px 15px 0px;
}
#listInfo .infoDetail:hover {
    background-color: #f1f0f1;
    /*border: 1px solid #d6d6d6;*/
    cursor: pointer;
}
.scroll-pane {
    width: 100% !important;
    height: 520px !important;
    overflow: auto !important;
} 

#numberItem
{
    float: left;
    margin-left: 20px;
    }
    
#SkypeButton
{
    position:absolute;
    left:226px;
    top:406px;
    }
/* POPUP */

#popup_wrapper .clear {
    clear: both;
    float: none;
}
#popup_wrapper {
    width: 967px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    font-family: Calibri, Arial,Helvetica,Sans-Serif;
    background-color: #FFF;
    margin: 0 auto;
    overflow:hidden;
    position:relative;
}
#addThis
{
    float:left;
    margin: 5px 0px 0px 5px;
    position:absolute;
}
#popup_wrapper div, #popup_wrapper span {
    display: block;
    float: left;
    font-family:Calibri,Sans-Serif;

}
#popup_wrapper .popup_header 
{
    background: url("../../Content/images/bg_baner.png") repeat-x transparent 0 0;
    width: 912px;
    padding: 15px 43px 20px 15px;
    height:70px;
}
.popup_header .type {
    color: orange;
    font-weight: 700;
    font-size: 24px;
}
.popup_header .address {
   font-style:normal;
    color: white;
    font-size: 19px;
    margin-top: 5px;
    width:550px;
    word-wrap:break-word;
    margin-left:134px;
}
.popup_header .shortDesc {
    
     color: white;
    font-weight: 700;
    font-size: 24px;
    width:650px;
    text-align:justify;
    margin-left:5px;
}
.popup_header .highlight {
    color: orange;
    font-size: 18px;
    font-weight: 700;
    margin-right: 7px;
}
.popup_header .rightInfo {
    color: #59595d;
    font-size: 18px;
    font-weight: 700;
}
.popup_header .rightText {
    margin-top: 22px;
    color: #717171;
}
.rightInfo div:first-child {
    margin-right: 20px;
}
.popup_content {
    width: 886px;
    padding: 40px 40px 70px 40px;
}
/*
.plusBtn {
    background: url("../../Content/images/detail_BasicInfo.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top: -7px;
}

.plusBtnImage {
    background: url("../../Content/images/detail_Images.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top: -6px;
}

.plusBtnInterior {
    background: url("../../Content/images/detail_Interior.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top: -7px;
}

.plusBtnMap {
    background: url("../../Content/images/detail_Map.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top: -4px;
}
.plusBtnOutside {
    background: url("../../Content/images/detail_Outside.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top: -3px;
}
.plusBtnQA {
    background: url("../../Content/images/detail_QA.png") no-repeat transparent 0 0;
    width: 34px;
    height: 31px;
    margin-right: 10px;
    margin-top:-3px;
}
*/
.desc
{
    display:block;
    /*width:400px;*/
    word-wrap:break-word;
    height=100%;

    }
#facilityDes
{
    position:relative;
    border:1px dashed;
    padding:8px 40px 5px 40px;
    }
#facilityDes span
{
    font-style:italic;
    }
    
.topBtnFavorite
{
    /*background: url("../../Content/images/favorite.png") no-repeat transparent 0 0 ;*/
    position:absolute;
    width:40px;
    height:40px;
    left:-77px;
    top:-5px;
    cursor:pointer;
    
    }
.topBtnFavoriteActived
{
   /* background: url("../../Content/images/favorited.png") no-repeat transparent 0 0 ;*/
    position:absolute;
    width:40px;
    height:40px;
    left:-77px;
    top:-5px;
    cursor:pointer;
    }
.topBtnReport
{
    background: url("../../Content/images/report.png") no-repeat transparent 0 0 ;
    position:absolute;
    width:40px;
    height:40px;
    left: 950px;
    top: 30px;
    cursor:pointer;
    }    
 #detailFooter
 {
    background: url("../../Content/images/footer_banner.png") repeat-x transparent 0 0 ;
    position:relative;
    cursor:pointer;
    border:1px solid;
    width:970px;
    height:50px;
     }
  #facilities
  {
      margin-top:18px;
      } 
.map_wrapper{
    border:1px solid #bebebe;
    margin-left: 16px;
}
.map{
    margin:5px;    
}    
#mapContainer{
    width:370px;
    height:267px;
    }
.blockInfo {
    font-size: 18px;
    color: #59595d;
}
.blockInfo .title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
    width: 100%;
}
.blockInfo .blockLeftText {
    background: url("../../Content/images/round_shape.png") no-repeat transparent 0 4px;
    width: 240px;
    height: 25px;
    line-height: 20px;
    padding-left: 25px;
    margin-left:20px;
}
.blockInfo .blockRightText {
    width: 210px;
}
.blockInfo b{
    font-weight: 700;
}
.icon {
    margin-right: 10px;
    height: 24px;
    padding-left: 23px;
}
.clickable {
    cursor: pointer;
}
.imgLeft {
    margin-left: 47px;
}
.camera {   
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -55px;
}
.pin {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -24px;
}
.videos {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 8px;
}
.check {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -248px;
}
.question {
    background: url("../../Content/images/cross_grey_small.png") no-repeat transparent 0 1px;
}
.plus {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -89px;
}
.book {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -119px;
}
.inbox {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -150px;
}
.globe {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -182px;
}
.calendar {
    background: url("../../Content/images/list_icon.png") no-repeat transparent 0 -213px;
}
.blockInfo .colLeft {
    width: 160px;
    margin-top:5px;
}
.blockInfo .colLeft span, .blockInfo .colRight span{
    margin: 0 0 15px 40px;
}
.blockInfo .colRight {
    width: 228px;
    margin-top:5px;
}
.blockInfo {
    margin-bottom: 40px;
}
#block4 span {
    margin: 0 0 3px 40px;
}
#block4 .desc {
    margin: 0 0 3px 65px;
}
#sendQuestion, #saveBookmark {
    position: relative;
}
#sendQuestion {
    margin-left: -57px;
}
#saveBookmark {
    margin-right: -56px;
}
#sendQuestion span, #saveBookmark span{
    font-style: italic; font-size: 18px;
}
#sendQuestion span{
    margin: 25px 0 0 120px;
    border:1px dashed;
    padding:5px;
}
#saveBookmark span {
    margin: 25px 128px 0 0;
    border:1px dashed;
    padding:5px;
}
#saveBookmark {
    float: right !important;
}
#sendQuestion a {
    position: absolute;
    top: 10px;
    left: 10px;
}

#saveBookmark a {
    position: absolute;
    top: 10px;
    right: 10px;
}

.leftSide
{
    width: 475px; 
    margin-right: 10px;
}
.rightSide
{
    width: 400px;
}
div.title-ques
{
    width: 100px;
    margin-right: 20px;
    margin-top: 7px;
}
div.title-ques-input
{
    margin:-28px 0px 10px 120px;
}
div.title-ques-input input
{
    /*background: url("../../Content/images/tbxTileQuestion.png") no-repeat transparent 0 0;*/
    width: 264px;
   /* height: 34px;*/
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 5px;

}
div.content-ques-input textarea, textarea#txtResion
{
    /*background: url("../../Content/images/tbxContentQues.png") no-repeat transparent 0 0;*/
    max-width: 264px;
    max-height: 104px;
    width: 264px;
    height: 104px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    resize: none;
    padding: 5px;
    margin-left:120px;
    margin-top:-20px;
}
input.btn-send-question
{
    float: right;
    margin-top: 30px;
    margin-right: 3px;
    background: url("../../Content/images/send_question.png") no-repeat transparent 0 0;
    display: block;
    width: 128px;
    height: 30px;
    font-size: 0;
}
/*Report post*/
a.selected {
    background-color:#1F75CC;
    color:white;
    z-index:100;
}

div#sendQuestion div#ReportPost .reportpop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    text-align:left;
    width:300px;
    z-index:50;
    padding: 25px 25px 20px;
}
div#sendQuestion div#element_to_pop_up
{
    display: none;
}

label {
    /*display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;*/
}

.reportpop p, .reportpop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}
.button_report
{
    width:70px;
    
}

#element_to_pop_up { 
    background-color:HighlightText;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:280px;
    min-height: 150px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
    color:Black;
}
#report-form .b-close{
    position:static;
}

/*Fancy box*/
#fancybox-content
{
    width: 983px;
}

/* Post New */
#postnew_wrapper .header {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}
#postnew_wrapper .header a {
    margin: 0 10px;
}
#postnew_wrapper #separator {
    left: 50%;
    margin-left: -28px;
    position: absolute;
    top: 22px;
}
#postnew_wrapper .content {
    margin: 0 auto;
    width: 995px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 30px;
}
#postnew_wrapper .content h1 {
    color: #464646;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
}
#postnew_wrapper .content h2 {
    color: #919191;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
}

#postnew_wrapper .content .title {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.pnew1 .pnRight {
    width: 415px;
}
#postnew_wrapper .infoElement
{
    width: 250px;
    height: 60px;
}
.pnew1 .pnRight .map, .pnew1 .pnRight, .pnew1 .pnLeft, .pnRight h2, .pnRight .btnPlus, .pnew1 .infoElement, #postnew_wrapper .content h2 {
    display: block;
    float: left;
}
.pnew1 .pnRight .map {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #e5e5e5;
    position: relative;
}
.pnew1 .pnRight .btnPlus {
    height: 260px;
    overflow: auto;
    width: 392px;
}
#postnew_wrapper .pnew1 .pnLeft {    
    position: relative;
    width: 575px;
}
.pnLeft .infoElement h2 {
    margin-bottom: 3px;
}
#postnew_wrapper .longTbx {
    background: url("../../Content/images/postnew_tieuDeTinDang_bg.png") no-repeat transparent 0 0;
    width: 336px;
    height: 22px;   
}
#postnew_wrapper .tbx {
    background: url("../../Content/images/pnew_tf_street.png") no-repeat transparent 0 0;
    width: 225px;
    height: 22px;   
}
#postnew_wrapper .shortTbx {
    background: url("../../Content/images/pnew_tf_accountYh.png") no-repeat transparent 0 0;
    width: 110px;
    height: 22px;   
}
.infoElement textarea {
    background: url("../../Content/images/pnew_Ghichu.png") no-repeat transparent 0 0;
    width: 490px;
    height: 59px;   
}
textarea#Description {
	width: 470px;
	padding: 0 10px;
	background: url("../../Content/images/pnew_Ghichu.png") no-repeat transparent 0 0;
    resize: none;
    border: none;
    height: 79px;
}
#postnew_wrapper div.content #CategoryId, #postnew_wrapper div.content #spCategoryId {
    width: 133px !important;
    height: 40px;
}
#spCategoryId {
    background: url("../../Content/images/pnew_loaiTinDang_bg.png") no-repeat transparent 0 0;
}
.pnLeft .infoElement .city, #spProvinceId, #spDistrictId {
    width: 233px;
    height: 40px;
}
#postnew_wrapper div.content #spProvinceId {
    left: 0;
}
#postnew_wrapper div.content #spDistrictId {
    left: 248px;
}
#postnew_wrapper div.content #spProvinceId, #postnew_wrapper div.content #spDistrictId {
    background: url("../../Content/images/pnew_city_bg.png") no-repeat transparent 0 0;
}
#spCategoryId {
    left: 0;
}
.pnLeft .infoTitle {
    width: 345px;
}
.pnLeft .infoElement input {
    margin-top: 3px;
}
.infoElement {
    margin-top: 25px;
}
#postnew_wrapper .content input 
{
    padding: 5px 5px;
}
#pnew2_header {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
    margin-top: 50px;
}
#pnew2_header div, #pnew2_header h1 {
    display: block;
    float: left;
}
#pnew2_header .collapseBtn {
    background: url("../../Content/images/pnew_collapseBtn.png") no-repeat transparent 0 0;
    width: 47px;
    height: 46px;
    margin-right: 10px;
    cursor: pointer;
}
#pnew2_header .clear {
    float: none;
}
.tips {
    font-size: 14px;
    font-weight: 700;
    margin: 4px 0 0 20px;
}
.tips #tip1 {
    color: #919191;
}
.tips #tip2 {
    color: #5e5e5e;
}
.infoElement .electricPriceTbx {
   background: url("../../Content/images/pnew_giaTienDien.png") no-repeat transparent 0 0px;
    width: 167px;
    height: 23px;
}
#pnew2_toggle .infoElement {
    display: block;
    float: left;
    margin-right: 80px;
}
#pnew2_toggle .leftContent, #pnew2_toggle .leftContent .part, #pnew2_toggle .leftContent .part .styledCheckbox, #pnew2_toggle .leftContent .part span, #pnew2_toggle .leftContent .partCol, #pnew2_toggle .leftContent h1, #pnew2_toggle .leftContent textarea {
    display: block;
    float: left;
}
#pnew2_toggle .leftContent .part {
    margin-bottom: 15px;
    width: 170px;
}
#pnew2_toggle .leftContent .part span {
    font-size: 16px;
    color: #59595d;
    line-height: 16px;
    margin-left: 10px;
}
#pnew2_toggle .leftContent .partCol {
    width: 170px;
    margin: 15px 0 0 35px;
}
#pnew2_toggle .leftContent input#osSites {
    width: 359px;
    resize: none;
    border: none;
    color: #b0afaf;
    font-weight: 700;
    font-size: 14px;
}
#pnew2_toggle .leftContent .ta_wrapper {
    background: url("../../Content/images/pnew_diaDiemNoiBat.png") no-repeat transparent 0 4px;
    height: 232px;
    width: 373px;
    padding: 10px;
}
.content #btnSaveInfo, #regisPanel #btnSaveInfo, #btnSaveInfo {
    background: url("../../Content/images/savepost.png") no-repeat transparent 0px 0px;
    height: 47px;
    width: 144px;
    cursor: pointer;
    float: right;
    display: block;
    margin: 10px 16px 10px 0;
}

.content #btnDangTinNgay {
    background: url("../../Content/images/pnew_dangTinBtn.png") no-repeat transparent -1px 0px;
    height: 47px;
    width: 144px;
    cursor: pointer;
    float: right;
    display: block;
    margin: 10px 70px 10px 0;
}
#pnew2_toggle {
    display: block;
}
/* End Post New */

/* ADVANCE SEARCH PAGE */
#as_wrapper {
    position: relative;
    text-align: center;
    width: 1054px;
}
#as_wrapper .searchText {
    width: 613px;
}
#as_wrapper .searchText .searchLine {
    width: 40%;
}
#as_wrapper h1 {
    color: #454343;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
#as_wrapper .basicInfo {
    margin: 0 0 45px 256px;
}

#as_wrapper .basicInfo, #as_wrapper .blockTitle, #as_wrapper .blockTitle, #as_wrapper .field, #as_wrapper .field span, #as_wrapper .field input, #as_wrapper select, #as_wrapper input {
    display: block;
    float: left;
}
#as_wrapper .range {
    background: url("../../Content/images/as_priceRange_bg.png") no-repeat transparent 0 0px;
    width: 98px;
    height: 32px;
}

#as_wrapper #spddlOptions {
    left: 256px;
}
#as_wrapper #spddlCity {
    left: 431px;
}
#as_wrapper #spddlDistrict {
    left: 606px;
}
#as_wrapper span.select {
    text-align: left;
}
#as_wrapper .basicInfo .field {
    color: #888;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 52px 0 0;
}
#as_wrapper .field input {
    padding: 0 5px;
    margin-right: 10px;
}
#as_wrapper .field span {
    margin-bottom: 7px;
}
#as_wrapper .col, #as_wrapper .row, #as_wrapper .row h2, #as_wrapper .row select {
    display: block;
    float: left;
}
#as_wrapper .row h2 {
    color: #59595D;
    font-size: 18px;
    line-height: 31px;
    text-align: left;
    width: 150px;
}
.otherInfo .col {
    width: 380px;
}

.otherInfo .row {
    margin-bottom: 10px;
}
#spddlInternet, #spddlGiuongTu, #spddlBaoVe, #spddlWcRieng, #spddlDoXe, #spddlNauAn {
    left: 310px;
}
#spddlNongLanh, #spddlDieuHoa, #spddlChungChu, #spddlTv, #spddlGarage {
    left: 690px;
}
#as_wrapper #noteSites {
    background: url("../../Content/images/as_textArea.png") no-repeat transparent 0 0px;
    width: 477px;
    height: 80px;
    resize: none;
    padding: 10px;
    border: none;
}
#as_wrapper #btnAdvancedSearch {
    background: url("../../Content/images/as_advanceSearchBtn.png") no-repeat transparent 0 0px;
    width: 184px;
    height: 47px;
    cursor: pointer;
}
#as_wrapper #btnSearch_wrapper {
    margin: 20px auto 30px;
    width: 184px;
    height: 47px;    
}
#as_wrapper .otherInfo {
    margin-bottom: 30px;
}
/* END ADVANCE SEARCH PAGE*/

/* INFO UCP PAGE */
#leftInfo #accInfo {
    display: block;
    float: left;
    color: #52666e;
    padding: 30px 45px;
}

#leftInfo #accInfo .title 
{
    font-size: 14px;
    display: block;
}

#leftInfo #accInfo .info 
{
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px 0 8px;
    display: block;
    padding-bottom: 10px;
} 

#rightInfo .infoDetail .activityInfo{
    display: block;
    float: left;
    color: #52666e;
    font-weight: 400;
    font-size: 14px;    
    border-bottom: 1px solid #D6D6D6; 
    width: 550px;
}
#rightInfo .infoDetail .activityInfo .activityDetail 
{    
    margin: 20px 30px;   
}

/* END INFO UCP PAGE */

/* FAVORITE USER CONTROL PANEL PAGE */
#options #btnKinhLup
{
    float:left;
}

#options #btnThongTin
{
    background: url("../../Content/images/btn_thongtintk.png") no-repeat transparent 0 0px;
    height: 33px;
    width: 180px;
    float: left;
    display: block;
    margin: 5px 0px 10px 23px;
}

#options #btnThongTin:hover,#options #btnQuanLy:hover,#options #btnTinNhan:hover,#options #btnLichSu:hover,#options #btnDanhSach:hover
{
    background-position: 0 -34px;
}
#options #btnThongTin.active,#options #btnQuanLy.active,#options #btnTinNhan.active,#options #btnLichSu.active,#options #btnDanhSach.active
{
    background-position: 0 -68px;
    font-style:normal;
}
#options #btnQuanLy
{
    background: url("../../Content/images/btn_quanlybaidang.png") no-repeat transparent 0 0px;
    height: 33px;
    width: 180px;
    float: left;
    display: block;
    margin: 5px 0px 10px 23px;
}

#options #btnTinNhan
{
    background: url("../../Content/images/btn_tinnhan.png") no-repeat transparent 0 0px;
    height: 33px;
    width: 180px;
    float: left;
    display: block;
    margin: 5px 0px 10px 23px;
}


#options #btnLichSu
{
    background: url("../../Content/images/btn_lichsu.png") no-repeat transparent 0 0px;
    height: 33px;
    width: 180px;
    float: left;
    display: block;
    margin: 5px 0px 10px 23px;
}

#options #btnDanhSach
{
    background: url("../../Content/images/btn_danhsach.png") no-repeat transparent 0 0px;
    height: 33px;
    width: 180px;
    float: left;
    display: block;
    margin: 5px 0px 10px 23px;
}


#leftInfo, #rightInfo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    height: 576px;
    padding: 15px 0;
}

#rightInfo
{
    width: 690px;
    padding: 15px;
}

#leftInfo {
    width: 320px;
    margin-right: 10px;
    color: #717171;
    font-weight: 700;
}

#leftInfo label{
    display: block;
    float: left;
}

#leftInfo .infoDetail {
    display: block;
    float: left;
    color: #52666e;
    padding: 15px 45px;
}
#leftInfo .infoDetail div, #leftInfo .infoDetail span {
    display: block;
}
#leftInfo .highlight {
    font-weight: 700;
    color: #f17612;
    display: block;
    float: left;
    font-size: 24px;
}

#leftInfo .infoDetail:hover {
    background-color: #f1f0f1;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

#leftInfo .title {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;
}

#leftInfo .from {
    line-height: 18px;
    margin-bottom: 7px;
}

#leftInfo .time {
    line-height: 18px;
    margin-bottom: 7px;
}

#rightInfo .infoDetail {
    display: block;
    float: left;
    color: #52666e;
    font-weight: 700;
    font-size: 14px;
    margin-left: 30px;    
}

/* END FAVORITE USER CONTROL PANEL PAGE */

.CSSTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}.CSSTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}
.CSSTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}
.CSSTable table tr:first-child td:last-child {
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
}.CSSTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
}.CSSTable tr:hover td{
	
}
.CSSTable tr:nth-child(odd){ background-color:#ffffff; }
.CSSTable tr:nth-child(even)    { background-color:#ffffff; }.CSSTable td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:14px;
	font-size:14px;
	font-family:Arial;
	color:#000000;
}.CSSTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTable tr:first-child td{
		background:-o-linear-gradient(bottom, #fd8515 5%, #de5c0d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fd8515), color-stop(1, #de5c0d) );
	background:-moz-linear-gradient( center top, #fd8515 5%, #de5c0d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd8515", endColorstr="#de5c0d");	background: -o-linear-gradient(top,#fd8515,de5c0d);

	background-color:#fd8515;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fd8515 5%, #de5c0d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fd8515), color-stop(1, #de5c0d) );
	background:-moz-linear-gradient( center top, #fd8515 5%, #de5c0d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd8515", endColorstr="#de5c0d");	background: -o-linear-gradient(top,#fd8515,de5c0d);

	background-color:#fd8515;
}
.CSSTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e1e1e1;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    /*border: dashed 1px #e1e1e1;*/
    padding: 15px 5px 15px 5px;
    font-family:Calibri,Sans-Serif;
    font-size:14px;
    text-align: center;
}

table th 
{
    font-family:Calibri,Sans-Serif;
    font-size:14px;
    padding: 15px 5px 15px 5px;
    text-align: center;
    background-color: #FFCC00;
    border: dashed 1px #4c6066;
    color:black;
    font-weight:bold;
}

/* Message UCP */
#rightInfo .messages {
    margin: 35px;
    color: #52666e;
    font-size: 14px;
    height: 430px;
    overflow: auto;
}
#rightInfo .messages .line {
    display: block;
    float: left;
    margin-bottom: 10px;
}
#rightInfo .messages .line .name {
    font-weight: 700;
    font-style: italic;
    line-height: 30px;
}
#rightInfo #sendBtn, #rightInfo input, #rightInfo .messages .line span {
    display: block;
    float: left;
}
#rightInfo .messages .line .text {
    margin-left: 20px;
}
#rightInfo #sendBtn {
    background: url("../../Content/images/send_btn.png") no-repeat transparent 0 0px;
    width: 72px;
    height: 47px;
}
#rightInfo input {
    margin-left: 25px;
    background: url("../../Content/images/message_input.png") no-repeat transparent 0 1px;
    width: 513px;
    height: 46px;
    padding: 0 10px;
    font-size: 14px;
    color: #52666e;
    font-weight: 700;
}
/* End Message UCP */


.message-notification
{
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.8%;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.message-notification div {
    display: block;
    font-style: normal;
    padding: 10px 20px 10px 36px;
    line-height: 1.5em;
}
.message-information {
    background: #dbe3ff url('../images/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}
.success {
    background: #d5ffce url('../images/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}
#btnCloseDiv
{
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url('../images/cross_grey_small.png') no-repeat;
    width: 18px;
    height: 18px;
}

#fromPrice{
   float:left;
}
#fromPrice span.field-validation-error {
   display: none;
}
 
 #toPrice {
 float: left; 
}   
#toPrice span.field-validation-error {
   display: none;
}
#minArea  {
  float:left;
}
#minArea span.field-validation-error {
   display: none;
}
#maxArea  {
  float:left;
}
#maxArea span.field-validation-error {
   display: none;
}

#blockBtnRegis span.field-validation-error
{
    padding: 0px;
    margin-top: 10px;
}
#blockBtnRegis #tbxCapcha span.field-validation-error
{
    padding: 0px;
}

.removeImage
{
    background: url("../../Content/images/pnew_greenRemoveBtn.png") no-repeat transparent center center;
    display: block;
    height: 35px;
    width: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0px;
    margin-top:13px;
}
.addImage
{
    background: url("../../Content/images/pnew_greenPlusBtn.png") no-repeat transparent center center;
    display: block;
    height: 35px;
    width: 45px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0px;
    margin-top:13px;
}
#uploadFile, .uploadItem
{
    position:relative;
    margin-top: 10px;
}
ul {
    list-style: none outside none;
}
#imageList img
{
    margin: 5px;
}
#imageList img.delete
{
    background: url("../../Content/images/bg_transparent.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 9px;
    padding: 1px;
    position: absolute;
    width: 9px;
}
.infoBox-wrapper
{
    margin-top: 4px; 
    padding: 5px;
}
.infoBox-item
{
    margin:0 5px;
    font-family:Calibri, Sans-Serif;
    font-size:12px;
    color:#124242;
    font-weight:bold;
}
.requiredField label:after {
    color: #FB6063;
    content: " (*) ";
}

#rpMessage,#report-form
{
    margin-top:5px;
    margin-left:120px;
}
table#grid
{
    margin: 0 auto;
}
.markerInfo
{
    text-decoration:none;
    color:#124242; 
    background-color: #fbfbfb; 
    width: 158px; 
    border:1px solid #e1e1e1;
    cursor: pointer;
}
.markerInfo label
{
    cursor: pointer;
}
