@model IEnumerable<RentalHouseFinding.Models.Categories>

@{
    ViewBag.Title = "Phân loại bài viết"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<fieldset>

    <table>
        <tr>
            <th>
                STT
            </th>
            <th>
                Phân loại
            </th>
            <th>
                Mô tả
            </th>
        </tr>
@{
    int i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        i += 1;
    }
}
    </table>
    <br/>
    <a href="../ManageCategories/Create">
    <div class="createLink">
    </div></a>
</fieldset>