@model IEnumerable<RentalHouseFinding.Models.ConfigurationRHF>

@{
    ViewBag.Title = "Quản lí tiêu chí phụ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <th>
                Tiêu chí
            </th>
            <th>
                Giá trị
            </th>
        </tr>

    @Html.EditorForModel()
    </table>
    <div>
    <input type="submit" class="saveChange" value="Save"/></div>
}
<br/>
    <div class="createLink" style="margin-top:-6px;"><a href="../ManageScoreConfig/Create"><img src="../../Content/images/createnew.png" /></a>
    </div>
