@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAuthen.cshtml";
}
@section current
{
    <ul id="menu">
        <li class="active"><a href="/Home">Trang chủ</a></li>
        <li><a href="/Home">Liên hệ</a></li>
    </ul>
}
<div id="container">
<h2>Đổi mật khẩu</h2>
<p>
    Mật khẩu của bạn đã được thay đổi thành công.
</p>
</div>