@model RentalHouseFinding.Models.ErrorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div id="errorPage"><a href="javascript:history.back()"><img src="../../Content/images/errorPage.png" /></a></div>
@*
<h2>@Model.ErrorTitle</h2>
 
<br />
 
@if (Model.ExceptionDetail != null)
{
      @Model.ExceptionDetail.Message
}*@