@model RentalHouseFinding.Models.Questions
@{
    Layout = null;
}
@foreach (var item in Model.Answers.OrderBy(m=>m.CreatedDate)) {
        <div class="line">
            <span class="name">@item.Question.Post.User.Email:</span>
            <div class="clear"></div>
            <span class="text">@Html.DisplayFor(model => item.Content)</span>
            <span class="text">Ngày trả lời: @Html.DisplayFor(model => item.CreatedDate)</span>
        </div>
        <div class="clear"></div>
    }
<div class="clear"></div>