USE [RentalHouseFinding]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 04/10/2013 12:20:56 ******/
SET IDENTITY_INSERT [dbo].[Posts] ON
INSERT [dbo].[Posts] ([Id], [Title], [CategoryId], [StatusId], [IsDeleted], [CreatedDate], [EditedDate], [RenewDate], [DistrictId], [NumberAddress], [Price], [Area], [PhoneActive], [Description], [Lat], [Lon], [UserId], [Street], [NearbyPlace], [ExpiredDate], [Code]) VALUES (1, N'Phòng trọ tiện nghi thoáng mát', 1, 1, 0, CAST(0x0000A19A012C96F2 AS DateTime), NULL, CAST(0x0000A19B0159115E AS DateTime), 20, N'Ngõ 175', 2.7, 20, N'0978866909', N'Nhà đẹp, thoáng mát, an ninh tốt', 21.03600311732383, 105.78479869259036, NULL, N'Xuân Thủy', N'N/A', CAST(0x0000A1AB012C96F2 AS DateTime), N'5e8a')
--INSERT [dbo].[Posts] ([Id], [Title], [CategoryId], [StatusId], [IsDeleted], [CreatedDate], [EditedDate], [RenewDate], [DistrictId], [NumberAddress], [Price], [Area], [PhoneActive], [Description], [Lat], [Lon], [UserId], [Street], [NearbyPlace], [ExpiredDate], [Code]) VALUES (24, N'F U C K 3 ', 2, 1, 1, CAST(0x0000A19C00B0002A AS DateTime), CAST(0x0000A19C00B046DC AS DateTime), NULL, 20, N'166/12', 1, 20, N'0978866909', N'', 21.036644, 105.7850991, 2, N'xuân thủy', N'N/A', CAST(0x0000A19E00B0002A AS DateTime), N'0sjM')
--INSERT [dbo].[Posts] ([Id], [Title], [CategoryId], [StatusId], [IsDeleted], [CreatedDate], [EditedDate], [RenewDate], [DistrictId], [NumberAddress], [Price], [Area], [PhoneActive], [Description], [Lat], [Lon], [UserId], [Street], [NearbyPlace], [ExpiredDate], [Code]) VALUES (25, N'F U C K 1', 2, 1, 1, CAST(0x0000A19C00B074CD AS DateTime), NULL, NULL, 20, N'166/12', 3, 20, N'0978866909', N'N/A', 21.036644, 105.78509910000003, 2, N'xuân thủy', N'N/A', CAST(0x0000A19E00B074CD AS DateTime), N'xFbu')
--INSERT [dbo].[Posts] ([Id], [Title], [CategoryId], [StatusId], [IsDeleted], [CreatedDate], [EditedDate], [RenewDate], [DistrictId], [NumberAddress], [Price], [Area], [PhoneActive], [Description], [Lat], [Lon], [UserId], [Street], [NearbyPlace], [ExpiredDate], [Code]) VALUES (26, N'F U C K 1', 2, 1, 1, CAST(0x0000A19C00B0B4DE AS DateTime), NULL, NULL, 20, N'1', 1, 20, N'0978866909', N'N/A', 21.036644, 105.78509910000003, 2, N'xuân thủy ', N'N/A', CAST(0x0000A19E00B0B4DE AS DateTime), N'INNK')
SET IDENTITY_INSERT [dbo].[Posts] OFF
/****** Object:  Table [dbo].[Facilities]    Script Date: 04/10/2013 12:20:56 ******/
INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (1, 5, 15, 0, 1, 0, 1, 1, 1, 1, 0, 0, N'23h30', 0, 1, 1747)
INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (1, 5, 20, 0, 1, 0, 1, 1, 1, 0, 0, 0, N'11h', 0, 2, 723)
INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (1, 3, 15, 1, 0, 0, 1, 0, 1, 0, 0, 0, N'23', 1, 3, 187)
--INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, N'0', 0, 24, 1)
--INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, N'0', 0, 25, 1)
--INSERT [dbo].[Facilities] ([HasInternet], [ElectricityFee], [WaterFee], [HasTVCable], [HasBed], [HasWaterHeater], [IsAllowCooking], [HasMotorParkingLot], [HasToilet], [HasAirConditioner], [HasGarage], [IsStayWithOwner], [RestrictHours], [HasSecurity], [PostIdFacilities], [FacilityTemplateId]) VALUES (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, N'0', 0, 26, 1)
/****** Object:  Table [dbo].[Contacts]    Script Date: 04/10/2013 12:20:56 ******/
INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866909', N'bacviet@yahoo.com', N'vietvh01388', N'vietvh_01388', 1, N'Bác Việt.')
INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866909', NULL, NULL, NULL, 2, N'cô Hoa')
INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866909', N'vuthuylinh1801@gmail.com', NULL, N'vuthuylinh1801', 3, N'Ms Linh')
--INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866888', NULL, NULL, NULL, 24, N'')
--INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866888', NULL, NULL, NULL, 25, N'N/A')
--INSERT [dbo].[Contacts] ([Phone], [Email], [Yahoo], [Skype], [PostIdContacts], [NameContact]) VALUES (N'0978866909', NULL, NULL, NULL, 26, N'N/A')
/****** Object:  Table [dbo].[PostLocations]    Script Date: 04/10/2013 12:20:56 ******/
SET IDENTITY_INSERT [dbo].[PostLocations] ON
INSERT [dbo].[PostLocations] ([Id], [PostId], [LocationId]) VALUES (1, 2, 23)
INSERT [dbo].[PostLocations] ([Id], [PostId], [LocationId]) VALUES (2, 2, 22)
INSERT [dbo].[PostLocations] ([Id], [PostId], [LocationId]) VALUES (3, 2, 21)
SET IDENTITY_INSERT [dbo].[PostLocations] OFF


update posts set expiredDate = dateadd(day, 15, current_timestamp)