@model IEnumerable<RentalHouseFinding.Models.Roles>

@{
    ViewBag.Title = "Quản lí quyền hạn"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table>
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên
        </th>
        <th>
            Mô tả
        </th>
    </tr>
@{
    int i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id=item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        i += 1;
    }
}
</table>
<br/>
 <a href="../ManageRoles/Create">
    <div class="createLink">
    </div></a>