@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<fieldset style="width: 500px;">
    <div id="container-grid">
        @{
            if (ViewBag.PostList != null)
            {
                var grid = new WebGrid(ViewBag.PostList, ajaxUpdateContainerId: "container-grid", canSort: false
                    );
        
                @grid.GetHtml(tableStyle: "cssTable", mode: WebGridPagerModes.All, 
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                htmlAttributes: new { id = "grid"});
            }
            else 
            {
                <h2>Không có bài post</h2>
            }
    
        }
        <br/>
        <br/>
    </div>
</fieldset>
@Html.ActionLink("Quay lại", "Index")