@model RentalHouseFinding.Models.Answers
@{
    Layout = null;
}
<div class="line">
    <span class="name">@User.Identity.Name:</span>
    <div class="clear"></div>
    <span class="text">@Html.DisplayFor(model => model.Content)</span>
    <span class="text">Lúc: @Html.DisplayFor(model => model.CreatedDate)</span>
</div>
<div class="clear"></div>