@model IEnumerable<RentalHouseFinding.Models.ConfigurationRHF>

@{
    ViewBag.Title = "Quản lí tiêu chí phụ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <th>
                Tiêu chí
            </th>
            <th>
                Giá trị
            </th>
        </tr>

    @Html.EditorForModel()
    </table>
    
    <input type="submit" value="Save"/>
}
<br/>
<a href="../ManageScoreConfig/Create">
    <div class="createLink">
    </div>
</a>