
@model RentalHouseFinding.Models.UserViewModel
@{
    ViewBag.Title = "Active Account";
}
@using (Html.BeginForm())
{
<h1>Active thành công. </h1>
<p>Cảm ơn @Model.UserName</p>
<p>
<button type="submit" class="t-button t-state-default"> OK</button>
</p>  
}

