@model IEnumerable<RentalHouseFinding.Models.BadWords>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <tr>
        <th>
            Word
        </th>
        <th>
            BadWordType
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Word, "Edit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadWordType.Name)
        </td>
    </tr>
}

</table>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>