@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="leftInfo" class="left">
        <label style="margin-left: 15px; font-size: 14px;">
            Thông tin tài khoản</label>
        <div class="clear">
        </div>
        <div id="accInfo">
            <span class="title">Email:</span> <span class="info">nambaby@gmail.com</span> <span
                class="title">Họ tên:</span> <span class="info">Nguyễn Việt Nam</span> <span class="title">
                    Điện thoại cố định:</span> <span class="info">0438535378</span> <span class="title">
                        Điện thoại di dộng:</span> <span class="info">0986534345</span> <span class="title">
                            Yahoo! Messenger</span> <span class="info">nambaby</span> <span class="title">Skype</span>
            <span class="info">0438535378</span> <span class="title">Địa chỉ</span> <span class="info">
                96 ngách 97/16 Khương Trung, Thanh Xuân, Hà Nội</span>
        </div>
    </div>
    <div id="rightInfo" class="left">
        <div class="infoDetail">
            <span class="detail left">Các hoạt động của tài khoản</span>
            <div style="overflow: hidden; width: 690px; height: 556px;">
                <div class="scroll-panel" style="overflow: auto; width: 710px; height: 556px;">
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                    <div class="activityInfo">
                        <div class="activityDetail">
                            1 tin nhắn từ nambaby@gmail.com<br />
                            lúc: 8h20 - 20/3/2013</br> từ bài đăng: Nhà rẻ giá giật mình cho thuê
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>