@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="container-grid">
@{
    if (ViewBag.Grid != null && ViewBag.Grid.TotalRowCount > 0)
    {
        WebGrid grid = ViewBag.Grid;
        @grid.GetHtml(tableStyle: "webGrid", mode: WebGridPagerModes.All,
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            htmlAttributes: new { id = "grid" },
                            columns: grid.Columns(
                                grid.Column("ID", "Id"),
                                     grid.Column("UserId", "User Id"),
                                     grid.Column(header:"Title", format: @<text>
                                             <a href="@Url.Action("Details", 
                                             "Post", 
                                             new { id = @item.ID })">@item.Title</a></text>),
                                    grid.Column("PostStatus", "Post Status"),
                                    grid.Column("CreatedDate", "Created Date")));
    }
    else
    {
        <h2>Không có bài post vi phạm</h2>
    }
}