@model IEnumerable<RentalHouseFinding.Models.BadWordTypes>

@{
    ViewBag.Title = "Phân loại từ xấu"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <tr>
        <th>
            STT
        </th>
        <th>
            Loại
        </th>
        <th>
            Từ xấu
        </th>
    </tr>
@{
    int i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id=item.Id })
            </td>
            <td>
                @Html.ActionLink("Danh sách từ xấu", "Index","ManageBadword", new { id=item.Id }, null)
            </td>
        </tr>
        i += 1;
    }
}
</table>

<br/>
    <div class="createLink"><a href="../ManageBadWordType/Create"><img src="../../Content/images/createnew.png" /></a>
    </div>